* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    max-width: 100svw;
    height: 100svh;
    background-color: rgb(0, 0, 0);
}

header {
    background-color: #4135c5;
    color: white;
    width: 100%;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

nav button {
    background-color:#4135c5;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 5px;
}

nav button a {
    color: black;
    text-decoration: none;
}
nav button:hover{
    background-color: white;
}

nav h1 {
    margin: 0;
    font-size: 2rem;
    color: white;
    text-align: center;
    font-family: cursive;
    animation: move 2s infinite;
}

@keyframes move{
    0%,20%,50%,80%,100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-15px);
    }
}

nav i {
    font-size: 2rem;
    color: white;

    padding: 10px;
}

.grid-container {
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    box-shadow: 2px 2px rgba(85, 105, 21, 0.258);
}

.item {
    background-color: #462b2b;
    color: white;
    padding: 40px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 8px;
    padding-left: 35px;
}

img {
    width: 280px;
    height: 230px;
    margin-bottom: 60px;
    border-radius: 6px;
}

img:hover {
    transform: scale(1.1);
    transition-timing-function: ease;
    transition-duration: 2s;
}



footer {
    display: flex;
    background-color: rgb(46, 46, 122);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

footer ul li a {
    color: white;
}

.footer-name {
    padding: 10px 30px 10px 30px;
    color: white;
}

.footer-adress {
    padding: 10px 30px 10px 30px;
    color: white;
}